<div class="wrapper sidebar-lg">
  <div class="app-sidebar" data-active-color="white" data-background-color="king-yna">
    <app-sidebar></app-sidebar>
    <div class="sidebar-background"></div>
  </div>
  <div class="main-panel">
    <app-navbar></app-navbar>
    <div class="main-content">
      <div class="content-wrapper">
        <div class="container-fluid">
          <main>
            <router-outlet></router-outlet>
          </main>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</div>